<!-- Copyright (C) 2022 Formez PA
This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, version 3.
This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.
You should have received a copy of the GNU Affero General Public License along with this program. If not, see <https://www.gnu.org/licenses/>

Layout custom per il backend
-->

<% content_for :secondary_nav do %>
  <div class="secondary-nav secondary-nav--subnav">
    <ul>
      <% if allowed_to?(:index, :endpoint) %>
        <li <% if is_active_link?(decidim_admin_comparative_stats.endpoints_path) %> class="is-active" <% end %>>
          <%= aria_selected_link_to I18n.t("menu.endpoints", scope: "decidim.comparative_stats.admin"), decidim_admin_comparative_stats.endpoints_path %>
        </li>
      <% end %>
      <% if allowed_to?(:index, :graph) %>
        <li <% if is_active_link?(decidim_admin_comparative_stats.graphs_path) %> class="is-active" <% end %>>
          <%= aria_selected_link_to I18n.t("menu.graphs", scope: "decidim.comparative_stats.admin"), decidim_admin_comparative_stats.graphs_path %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= render "layouts/decidim/admin/application" do %>
  <div class="process-title">
    <div class="process-title-content">
      <%= link_to t("decidim.admin.menu.comparative_stats"), decidim_admin_comparative_stats.endpoints_path, target: "_blank" %>
    </div>
  </div>

  <div class="process-content">
    <%= yield %>
  </div>
<% end %>