<div class="p-xs flex--sbc">
  <div class="mr-s">
    <div class="card__header collapse">
      <%= cell("decidim/user_profile", raw_model).user_data %>
    </div>
    <% unless raw_model.is_a?(Decidim::User) && !current_organization.can_user_send_private_message? %>
      <div class="card__text card--picture-offset">
        <%= text_link_to_current_or_new_conversation_with(model) %>
      </div>
    <% end %>
  </div>
  <div class="ml-s">
    <%= cell "decidim/follow_button", raw_model %>
    <% unless raw_model.is_a?(Decidim::User) && !current_organization.can_user_follow? %>
      <div>
        <%= link_to decidim.profile_followers_path(raw_model.nickname), class: "card__link" do %>
          <strong><%= model.followers_count %></strong> <%= t("decidim.profiles.show.followers") %>
        <% end %>
      </div>
    <% end %>
    <% if model.can_follow? %>
      <div>
        <%= link_to decidim.profile_following_path(raw_model.nickname), class: "card__link" do %>
          <strong><%= model.following_count %></strong> <%= t("decidim.profiles.show.following") %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<!-- Copyright (C) 2022 Formez PA
This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, version 3.
This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.
You should have received a copy of the GNU Affero General Public License along with this program. If not, see <https://www.gnu.org/licenses/>

Override necessario, non gestibile con Deface, per abilitare/disabilitare la visualizzazione del button "Nuova Conversazione"
e "Segui" in base alla configurazione
-->