<div class="author__tooltip bottom" role="tooltip">
  <div class="author__container">
    <%= render :avatar %>

    <div>
      <%= render :name %>
      <span class="text-md"><%= model.nickname %></span>
    </div>
  </div>

  <div class="author__tooltip-links">
    <% if current_organization.can_user_follow? %>
      <%= link_to decidim.profile_followers_path(raw_model.nickname) do %>
        <%= content_tag(:span, model.followers_count, id: dom_id(raw_model, :followers_count)) %> <%= t("decidim.profiles.show.followers") %>
      <% end %>
    <% end %>
    <% if model.can_follow? %>
      <%= link_to decidim.profile_following_path(raw_model.nickname) do %>
        <%= model.following_count %> <%= t("decidim.profiles.show.following") %>
      <% end %>
    <% end %>
  </div>

  <% if current_organization.can_user_send_private_message? %>
    <% if model.direct_messages_enabled?(context) %>
      <%= link_to current_or_new_conversation_path_with(model), class: "button button__sm button__transparent" do %>
        <span><%= t("decidim.profiles.show.send_private_message") %></span>
        <%= icon "mail-send-line" %>
      <% end %>
    <% end %>
  <% end %>

  <%= follow_button_for(raw_model, false, button_classes: "button button__sm button__transparent") %>
</div>

<!-- Copyright (C) 2022 Formez PA
This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, version 3.
This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.
You should have received a copy of the GNU Affero General Public License along with this program. If not, see <https://www.gnu.org/licenses/>

Override necessario, non gestibile con Deface, per abilitare/disabilitare la visualizzazione del button "Nuova Conversazione"
e "Segui" in base alla configurazione
-->