<% add_decidim_page_title(t("my_privacy", scope: "layouts.decidim.user_profile")) %>
<% content_for(:subtitle) { t("my_privacy", scope: "layouts.decidim.user_profile") } %>

<div class="row">
  <div class="columns large-8 end">
    <p><%= t(".select_your_privacy") %></p>
  </div>
  <%= form_for(@current_setting, url: decidim_privacy.privacy_path(id: @current_setting), method: :put, class: "user-form") do |f| %>
    <div class="columns large-8 end">
      <p><strong><%= t(".my_privacy") %></strong></p>
    </div>
    <div class="columns large-8 end">
      <%#= f.check_box :user_avatar, label: t(".user_avatar") %>
      <%= f.check_box :user_search, label: t(".user_search") %>
      <%#= f.check_box :user_follow, label: t(".user_follow") %>
      <%= f.check_box :user_index, label: t(".user_index") %>
      <%= f.check_box :user_public_page, label: t(".user_public_page") %>
      <%= f.submit t(".update_privacy") %>
    </div>
  <% end %>
</div>

<!-- Copyright (C) 2022 Formez PA
This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, version 3.
This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.
You should have received a copy of the GNU Affero General Public License along with this program. If not, see <https://www.gnu.org/licenses/>

View action edit per editare i permessi da frontend
-->